section[role="index"] {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    just-content: center;
    background: url(/assets/images/index/index-1.jpg) center no-repeat;
    background-size: cover;
    transition: 1s;
}


ul {
    padding: 0;
    margin: 100px auto 0 auto;
}
li {
    list-style-type: none;
    height: 100px;
}
a {
    flex-direction: column;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
    transition: .3s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
span.ch {
    display: none;
    position: relative;
    font-size: 1.5rem;
}
a:hover {
    color: #589F22;
}

a:hover span.ch {
    display: block;
    top: -15px;
}
.logo {
    position: absolute;
    top: 5px;
    left: 5px;
}

@media ( max-width: 560px ) {
    span.ch {
        display: block;
    }
}